{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailcore_tags %}

<body>
    {% block content %}
    {% image self.banner_image fill-1570x690 as img %}

    <div class="jumbotron-fluid text-center"
        style="background-image: url('{{ img.url }}'); background-size: contain; color: #fff !important;">
        <h1 class="display-4" style="font-weight: 900; text-transform: uppercase; background-color: darkcyan">
            {{ self.banner_title }}</h1>
        <div class="lead" style="font-weight:bold; font-style: italic;">{{ self.banner_subtitle|richtext }}</div>
        {% if self.banner_cta %}
        <a class="btn  btn-primary btn-lg" href="#" role="button">Donate</a>
        {% endif %}

    </div>



    <div class="intro text-center">
        {% for block in page.content %}
        {% include_block block %}
        {% endfor %}
        {% endblock %}
    </div>






</body>

</html>