.jumbotron-fluid {
    padding: 15rem 0 15rem 0;
}

.display-4 {
    font-size: 2rem;
    padding: 1rem;
}

.lead {
    font-size: 1rem;
}

.home-page-rich-text {
    padding: 6rem 2rem 6rem 2rem;
    background-color: #FAFAFA;
}

.home-page-rich-text h2 {
    margin-bottom: 1rem;
}

.homepage .cta-block .h1.text-uppercase {
    margin-bottom: 3rem;
}

.container-fluid.cta-block {
    padding: 9rem 2rem 12rem 2rem;
    text-align: left;
    color: #ffffff;
}

/*.homepage .cta-block-text {
    font-size: 20px
}*/

.homepage .cta-block-text p {
    margin-bottom: 3;
}

.container-fluid.cta-block  .progressbar-bg{
    background-color: #ffffff;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 0.25rem;
    height: 18rem;
}
.container-fluid.cta-block .progress{
    height: 0.5rem;
}

.container-fluid.cta-block .progress, .container-fluid.cta-block .progress-bar{
    border-radius: 0.25rem;
}

.container-fluid.cta-block .progress-bar{
    background-color: #DAAC22;
}

.container-fluid.cta-block  .progressbar-bg .progress-bar-text{
margin: 0;
display: inline-flex;
text-align: right;
color: #A6ADB4;
font-size: 0.7rem;
padding-top: 1rem;

}
.container-fluid.cta-block  .progressbar-bg .progress-bar-text span{
    text-align: left;
}
 .card-block{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

 .card-deck .card {
    margin-bottom: 4rem;
}

 .card-deck {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

 .card-header, .homepage .cta-block-title {
    font-weight: 600;
    font-size: 1.5rem;
    padding: .75rem 0;
    line-height: 2.3rem;
    text-align: left;
}

 .card-subtitle .homepage .cta-block-text p  {
    padding: 1rem 1rem 2rem 0;
    font-size: 1rem;
    text-align: left;
    line-height: 1.8rem;
}
 .card-body{
    padding: 1rem 0;
}

 p.card-text.text-left {
    font-size: 14px;
    line-height: 1.5rem;
}

 .card-header {
    background-color: white;
    border-bottom: none;
}


.homepage .cta-block{
    background-color: #9EB7AE;
}

@media (min-width: 768px) {
    .homepage .card-body {
        padding: 0.25rem;
    }
    .homepage .card-subtitle {
        padding: 0 5rem 0 5rem;
        text-align: center;
    }
    .display-4 {
        font-size: 2.5rem;
        padding: 1rem;
    }
    .lead {
        font-size: 1rem;
    }
    .container-fluid.cta-block {
        padding: 6rem;
    }
    .homepage .card-header {
        background-color: white;
        border-bottom: none;
        text-align: center;
        padding: 1.75rem 5rem;
    }


   .card-deck{
       padding: 4rem 6rem;
    }
}

@media (min-width: 1024px) {
    .homepage .card-deck {
        flex-direction: row;
        grid-gap: 0.5rem;
      
        padding-top: 1rem;
    }

    .homepage h6.card-title{
        font-size: 0.9rem;
    }
    .homepage .card-block .card-subtitle {
        padding: 1rem 12rem 0 12rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .homepage .card-header{
        padding: 0 8rem;
        font-size: 1.7rem;
    }

    .homepage .card-block{
        padding: 0;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    
    .homepage p.card-text.text-left {
        font-size: 0.75rem;
        line-height: 1.2rem;
    }

    .card-deck{
        margin: 0;
        padding: 5rem 3rem;
    }
}

@media (min-width: 1200px) {
    .card-body {
        padding: 1.25rem;
    }
    .homepage .card-block .card-deck {
        padding: 2rem 5rem 0 5rem;
    }
    .homepage .cta-block-text {
        padding: 0 10rem 3rem 10rem;
    }
   
    .display-4 {
        font-size: 3.5rem;
    }
    .lead {
        font-size: 1.5rem;
    }

    .homepage .card-header {
        padding: 0 17rem 0 17rem;
        line-height: 2.5rem;
    }

    .homepage .card-block .card-deck {
        padding-top: 1rem
}

@media (min-width: 1400px) {
    
    .homepage .card-header {
        padding: 0 21rem 0 21rem
    }

    .homepage .card-block .card-subtitle {
        padding: 1rem 21rem;
    }


}
}
