


{% load wagtailimages_tags %}

<div class="card-block mb-sm-5 mt-sm-5" id="card-block">
    <h2 class="mb-sm-5 mb-md-2 card-header">{{ self.title }}</h2>
    
    <p class="card-subtitle" >{{ self.text }}</p3>
    <div class="card-deck">
        {% for card in self.cards %}
            {% image card.image fill-360x180 as img %}
            <div class="card mb-sm-5 border-0">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top mt-md-5" id="card-image"/>
                <div class="card-body">
                    <h6 class="card-title pt-md-3 text-left">{{ card.title }}</h6>
                    <p class="card-text text-left">{{ card.text }}</p>
                    <!--{% if card.button_page %}
                        <a href="{{ card.button_page.url }}" class="button p-md-2">
                            Learn More
                        </a>
                    {% elif card.button_url %}
                        <a href="{{ card.button_url }}" class=" button btn-md ">
                            Learn More
                        </a>
                    {% endif %}-->
                </div>
            </div>
        {% endfor %}
    </div>
</div>